@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEEuSKv1VSK9XoW7PdK-Lpm0TmcW6RfFL9Xw&usqp=CAU') no-repeat;
    background-size: cover;
    height: 800px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form {
    background: rgba(255, 255, 255, 0.06);
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 20px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form p{
    font-weight: 900;
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


form a{
    text-decoration: none;
    font-size: 12px;
    color: #ddd;
}

form a:hover{
    text-shadow: none;
}

form a:active {
    text-shadow: none;
}

form input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5000px;
}

form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="email"]:focus,
form input[type="password"]:focus{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}


form input[type="button"]{
    margin-top: 50px;
    width: 150px;
    font-size: 1rem;
}

form input[type="button"]:hover{
    cursor: pointer;
}

from:hover {
    margin: 4px;
}

::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

a,
input:focus,
button:focus,
select:focus {
    outline: none;
}

.drop {
    background: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}